<div class="team_container">
      <h4 class="team_title">BMW-Z4 is an Angular based Web-Application that allows you to manage incidents.</h4>
</div>
<div class="container">
  <div class="imgCotainer"> <img src="/assets/incident2.jpg" alt="img1" width="100%"/></div>
  <div class="services-container">
    <div class="service">
            <h1 class="service-title">Purpose</h1>
            <p class="tech-text blue">This application aims to provide a way to interact with users through user reports to determine when something goes wrong and fix it as soon as possible so that business can return to normal.​</p>
    </div>&nbsp;&nbsp;
    <div class="service">
        <h1 class="service-title">Scope</h1>
        <p class="tech-text blue">Incident management includes any event which disrupts, or something which is capable of causing a disruption to the service. </p>
    </div>&nbsp;&nbsp;
    <div class="service">
        <h1 class="service-title">Value</h1>
        <p class="tech-text blue">Ability to mitigate the risk of unplanned costs and labor for both  business and IT support staff. Ability to detect and resolve incidents, which in turn results in lower downtime to the business, which means increased availability of the service.</p>
    </div>
  </div>
  <p class="team_mem">
    <b>Meet The Team...</b>
</p>
  <div class="members-container">
    <div class="member">
            <h1 class="member-title">Betty Han ✿</h1>
            <p class="tech-text blue">Project Manager & Database Programmer​</p>
    </div>&nbsp;&nbsp;
    <div class="member">
        <h1 class="member-title">Mingyue Guo ღ</h1>
        <p class="tech-text blue">Frontend Developer & Security programmer </p>
    </div>&nbsp;&nbsp;
    <div class="member">
        <h1 class="member-title">Shibo Wang ★</h1>
        <p class="tech-text blue">Lead Software Engineer & Backend Programmer</p>
    </div>&nbsp;&nbsp;
    <div class="member">
      <h1 class="member-title">Zeenath Razak ☀</h1>
      <p class="tech-text blue"> UI Programmer & web designer<br><br> </p>
    </div>
  </div>
</div>
