.signUpLink{
    font-size:medium;
}

.form-group{
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: larger;
}

.form-control{
    width: 400px;
    
}

.btn {
    margin-left: 50px;
}

.signUpLink{
    margin-left: 50px;
}
.signUp{
    font-size:30px; 
    height: 120px; 
    background-color: 
    #0f2035; 
    font-weight:bold;
    color: rgb(255, 255, 255); 
    padding-top: 40px;
    text-align: center;
}
.form-signin{
    margin-left: 35%;
    font-size:18px; 
}